go 1.26.1

use (
	./services/analysis-worker
	./services/fraud-batch-job
	./services/fraud-service
	./services/listing-service
	./shared/go
	./tests/integration
)

replace github.com/vexyruu/LIP/shared v0.0.0 => ./shared/go
